h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
    font-family: 'Roboto', sans-serif;
    line-height: auto;
    letter-spacing: 0%;
    color: var(--black);
}

h1 {
    font-size: 1.8rem;
    font-weight: 600; /* Semibold */
}

h2 {
    font-size: 1.4rem;
    font-weight: 600; /* Semibold */
}

p {
    font-size: 1.4rem;
    font-weight: 400; /* Regular */
}